<h1 align="center"> <img src="../assets/Slide1.png" width = "200" style = "border-style: none">
<br> Welcome to Dipadvisor</h1>
<h2 align="center"style = "margin-top:; margin-bottom: ; margin-left:;margin-right:;"> Login or click <%= link_to "Signup", new_user_path %> here to register <h2>
  <br>
<%= form_for @user, url: login_path, method: :post do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit 'Log in' %>
<% end %>

<%session[:username] %>
<%params %>
