<div class="ds-index">
  <div class="filter">
    <%# <%=link_to "Highest Rated Divingsite",  Divingsite.top %>
    <h5>Sort</h5
    <br>
    <%= link_to "Alphabetically", divingsites_path(order: 'alphabetically'), class: "sort-btn" %>
    <%= link_to "Default", divingsites_path, class: "sort-btn" %>
  </div>

<br> <br>

  <div class="cards">
    <% @divingsites.each do |site| %>
         <div class="site-card">
          <h5 class="card-title"><%= link_to site.name, divingsite_path(site) %></h5>
          <%= image_tag site.divesiteimage.url, :crop => "pad", class: "site-img"%>
        </div>
     



   
    <!-- link_to divingsite_like_path(site), class: "like", method: :put do  -->
    <!-- <button type="button" class="btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
    <span class="badge">  site.get_upvotes.size </span>
    </button> -->
      <!-- end  -->
    <% end %>
  </div>
</div>

