<div class="form-group" style="margin-left: 30px; width: 400px;"><h1>Add a New Dive Site</h1>
<%= form_for @divingsite , html: { multipart: true, class: "links" } do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name %>
  <%= f.label "Max Depth:" %>
  <%= f.text_field :max_depth, placeholder: "in feet" %>
  <%= f.label "Select Country" %>
  <%= f.collection_select :country_id, Country.order("name ASC").all, :id, :name %>
  <%= f.file_field :divesiteimage %>
  <br>
  <br>
  <%= f.submit "Create Diving Site"%>
<% end %></div>
