<h1>Add Review</h1>

<%= form_for @review, url: divingsite_reviews_path(@divingsite)  do |f| %>
<div class="review-box">
  <%= f.label "Review" %>
  <br>
  <%= f.text_area :content %>
  <br>
  <%= f.label "Rating" %>
  <%= f.select :rating, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]]   %>
  <br>
  <%= f.submit "Submit Review"%>
<% end %>
<br>
<%= link_to 'Go back', divingsite_path(@divingsite), style:"font-weight: bold, color: black"%>
</div>
