<h1>Add a New Review</h1>
<%= form_for @review  do |f| %>
  <%= f.label "Review" %>
  <%= f.text_field :content %>
  <%=hidden_field_tag :divingsite_id, @divingsite.id%>
  <%= f.submit "Submit Review"%>
<% end %>
