<div class="form-group" style="margin-left: 30px; width: 200px;"><h1>Add a New Review</h1>
<%= form_for @review, url: divingsite_reviews_path(@divingsite)  do |f| %>
  <%= f.label "Review" %>
  <%= f.text_field :content %>
  <%= f.submit "Submit Review"%>
<% end %>

<%= link_to 'Go back', divingsite_path(@divingsite) %>
