<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a style = "margin-top:-15px; margin-bottom:-15px ; margin-left:-50px;margin-right:-50px;">  <img  src="../assets/Slide1.png" width = "200" style = "border-style: none"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/divingsites">Home <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" Top </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/divingsites/new">Add a Dive Site</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="users/<%=current_user.id %>">My Profile</a>
          </li>
          <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Countries
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <%Country.has_a_diving_site.each do |country| %>
    <a class="dropdown-item"  <%= link_to country.name, country_path(country) %></a>
    <% end %>
  </div>
</li>
<%= form_tag(divingsites_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Dive Sites" %>
<%= submit_tag "Search"%>
<% end %>
        </ul>
      </div>
        <form class="form-inline">
           <% if !logged_in? %>
      <%= link_to 'log in', login_path, class: "btn btn-success" %>
      <%= link_to 'sign up', signup_path, class: "btn btn-info"  %>
    <% else %>
      <%= link_to "log out", logout_path, class: "btn btn-danger" , method: "post" %>
      <%= 'Signed in as:' + current_user.username%>
    <% end %>

        <br>
      </form>
    </nav>




  <body>
  <div style="margin-left: 20px;">
    <%= yield %>

    </div>
  </body>
</html>
